:root{
  box-sizing: border-box;
  background-color: #d2abd2;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}


.nav{
  display: flex;
  justify-content: center;
  min-height: 4rem;
  min-width: 500px;
  align-items: flex-end;
}

.nav-element{
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 10rem;
  min-height: 3rem;
  flex: 1;
  text-align: center;
  border-collapse: collapse;
}


.nav-element.selected{
  background-color: #cd47fd;
}