:root{
  --secondary-color: orange;
  box-sizing: border-box;
  background-color: black;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: var(--secondary-color);
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  min-width: 1000px;
}


.nav{
  display: flex;
  justify-content: center;
  min-height: 4rem;
  min-width: 500px;
  align-items: flex-end;
}

.nav-element{
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 10rem;
  min-height: 3rem;
  flex: 1;
  text-align: center;
  border-collapse: collapse;
  background-color: #373431;
}

.nav-element.selected{
  border-color: var(--secondary-color);
}

.content-wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
}

.content-body{
  max-width: 80%;
  border: 1px solid var(--secondary-color);
  margin-top: -1px;
  border-collapse: collapse;
  padding: 20px 50px 50px;
}

.content-title{
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}

.content-subtitle{
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0;
}

.content-card-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.content-card {
  display: flex;
  margin: 10px 20px;
  border: 1px solid var(--secondary-color);
  gap: 10px;
  max-width: 90%;
}

.content-card-left{
  flex: 1;
  padding: 10px;
}

.home-card{
  text-align: center;
}

.content-card-right {
  width: 300px;
  height: 200px;
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
}






